@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #f9f9f9;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.hide{
    display: none !important;
}

#lang{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 1vh 2vw;
    background-color: #f9f9f9;
    border-radius: 0 0 0 10px;
}

.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#login{
    @apply select-none;
    gap: 10vh;
}

#login > div.form{width: 70vw;}

#app{
    @apply overflow-y-auto gap-1 p-1;
    justify-content: flex-start;
}

button, input, select, textarea{@apply rounded-md p-1 disabled:cursor-not-allowed disabled:opacity-50;}
input, select, textarea{@apply bg-neutral-200 border border-neutral-300 hover:bg-neutral-300 focus:outline-none;}
button{@apply cursor-pointer bg-neutral-950 hover:bg-neutral-900 border-none text-neutral-50;}

::-webkit-scrollbar{width: 8px;}
::-webkit-scrollbar-thumb{@apply bg-[#0002] hover:bg-[#0003] active:bg-[#0004] rounded-md;}
::-webkit-scrollbar-track{background-color: transparent;}

#app > details {@apply w-full flex flex-col items-center;}
#app > details > * {@apply w-full mb-1;}
#app > details > summary {@apply rounded-md hover:bg-neutral-200 cursor-pointer p-1 select-none;}
#app > details > div {@apply flex items-center gap-1;}
#app > details > div > .log {@apply text-sm text-neutral-500;}

.state{@apply rounded-full w-2 h-2 bg-neutral-400;}
.state.active{@apply bg-cyan-400;}
.state.succeed{@apply bg-green-400;}
.state.error{@apply bg-red-400;}
.state.pending{@apply bg-yellow-400;}